html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #d3b683; /* Light brown background color */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

#title, #disclaimer, #intro {
  text-align: center; /* Centers the text */
  font-family: cursive; /* Applies a cursive font */
}

footer {
  text-align: center; /* Centers the text */
  font-family: cursive; /* Applies a cursive font */
}

.photobook {
  max-width: 1200px; /* Sets the maximum width */
  margin: auto; /* Centers the photobook horizontally */
  padding: 20px; /* Adds padding around the photobook */
  display: flex; /* Enables flexbox layout */
  flex-wrap: wrap; /* Allows wrapping of items */
  gap: 20px; /* Adds space between items */
  justify-content: center; /* Centers items horizontally */
}

.page {
  background-color: white; /* Sets background color of the page */
  border: 1px solid #ddd; /* Adds a light gray border */
  border-radius: 8px; /* Rounds the corners of the border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow effect */
  width: 300px; /* Sets the width of the page */
  padding: 10px; /* Adds padding inside the page */
  box-sizing: border-box; /* Includes border and padding in element's total width and height */
  text-align: center; /* Centers the text */
  transition: transform 0.5s ease; /* Smooth transition for the transform property */
}

.page:hover {
  animation: zoomOut 0.5s forwards; /* Apply zoom out animation on hover */
}

.photo img {
  max-width: 100%; /* Ensures the image does not exceed the width of its container */
  border-radius: 8px; /* Rounds the corners of the image */
}

.caption {
  margin-top: 10px; /* Adds space above the caption */
  font-size: 14px; /* Sets the font size of the caption */
  color: #333; /* Sets the color of the text */
}

.reactionContainer {
  text-align: justify;
}

.like-icon {
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0; /* Icon is hidden by default */
  pointer-events: none; /* Icon is uninteractable by default */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover effect for the entire Polaroid */
.page:hover .like-icon {
  opacity: 1; /* Icon becomes visible when the figure is hovered */
  pointer-events: auto; /* Icon becomes interactable when visible */
  transform: scale(1); /* Reset scale if it was changed before */
}

/* Additional hover effect for the icon itself when visible */
.page:hover .like-icon:hover {
  transform: scale(1.2); /* Enhanced scaling on hover when visible */
}

/* Styles for the feedback form */
.feedback-form {
  display: none;
  flex-direction: column;
  margin: 20px;
}

.feedback-form select {
  padding: 10px;
  margin-bottom: 10px;
  font-family: cursive; /* Applies a cursive font */
  border: 1px solid #ddd; /* Adds a light gray border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow effect */
  border-radius: 8px; /* Rounds the corners of the border */
}

.feedback-form textarea {
  padding: 10px;
  height: 100px;
  font-family: cursive; /* Applies a cursive font */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow effect */
  border: 1px solid #ddd; /* Adds a light gray border */
  border-radius: 8px; /* Rounds the corners of the border */
}

.feedback-form button {
  padding: 10px 20px;
  background-color: #8d6309;
  border: 1px solid #ddd; /* Adds a light gray border */
  border-radius: 8px; /* Rounds the corners of the border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow effect */
  color: white;
  cursor: pointer;

}

.feedback-form button:hover {
  background-color: #6c4c07;
}

.toggle-button {
  background-color: #8d6309; /* Same color as the feedback button */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 60%; /* Space between like icon and button */
}

.toggle-button:hover {
  background-color: #6c4c07; /* Darker shade on hover */
}

@media (max-width: 768px) {
  .photobook {
    flex-direction: column; /* Stacks items vertically on smaller screens */
    align-items: center; /* Centers items horizontally */
  }
}

/* Keyframe animation for zoom out effect */
@keyframes zoomOut {
  from {
    transform: scale(1); /* Start at normal size */
  }
  to {
    transform: scale(1.1); /* Scale up slightly */
  }
}
